USE [master]
GO
/****** Object:  Database [MSSQL2019_SmartQuiz]    Script Date: 3/13/2023 2:30:22 PM ******/
CREATE DATABASE [MSSQL2019_SmartQuiz] ON  PRIMARY 
( NAME = N'MSSQL2019_SmartQuiz_Data', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQL2019EXPRESS\MSSQL\DATA\MSSQL2019_SmartQuiz.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MSSQL2019_SmartQuiz_Log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQL2019EXPRESS\MSSQL\DATA\MSSQL2019_SmartQuiz.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MSSQL2019_SmartQuiz].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MSSQL2019_SmartQuiz]
GO
/****** Object:  Table [dbo].[Answers]    Script Date: 3/13/2023 2:30:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Answers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Is_correct_answer] [bit] NOT NULL,
	[Question_id] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Answers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bills]    Script Date: 3/13/2023 2:30:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bills](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Effective_date] [date] NOT NULL,
	[Expiration_date] [date] NOT NULL,
	[Status] [bit] NULL,
	[Payment_date] [date] NOT NULL,
	[User_id] [int] NOT NULL,
	[Subcription] [int] NOT NULL,
	[Pay_id] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Bills] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bookmarks]    Script Date: 3/13/2023 2:30:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookmarks](
	[User_id] [int] NOT NULL,
	[Study_set_id] [nvarchar](50) NOT NULL,
	[Create_date] [datetime] NOT NULL,
 CONSTRAINT [PK_Bookmarks] PRIMARY KEY CLUSTERED 
(
	[User_id] ASC,
	[Study_set_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Classes]    Script Date: 3/13/2023 2:30:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Classes](
	[Id] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[User_id] [int] NOT NULL,
	[Create_at] [date] NOT NULL,
	[Update_at] [date] NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Join_code] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Classes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClassMember]    Script Date: 3/13/2023 2:30:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClassMember](
	[Class_id] [nvarchar](50) NOT NULL,
	[User_id] [int] NOT NULL,
	[Create_at] [date] NOT NULL,
	[Update_at] [date] NOT NULL,
 CONSTRAINT [PK_ClassMember] PRIMARY KEY CLUSTERED 
(
	[Class_id] ASC,
	[User_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Favorites]    Script Date: 3/13/2023 2:30:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Favorites](
	[User_id] [int] NOT NULL,
	[Subjects_of_grade_id] [int] NOT NULL,
	[Create_at] [datetime] NOT NULL,
 CONSTRAINT [PK_Favorites] PRIMARY KEY CLUSTERED 
(
	[User_id] ASC,
	[Subjects_of_grade_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Grades]    Script Date: 3/13/2023 2:30:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grades](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Grades] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Histories]    Script Date: 3/13/2023 2:30:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Histories](
	[User_id] [int] NOT NULL,
	[Study_set_id] [nvarchar](50) NOT NULL,
	[Create_at] [datetime] NOT NULL,
 CONSTRAINT [PK_Histories] PRIMARY KEY CLUSTERED 
(
	[User_id] ASC,
	[Study_set_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Questions]    Script Date: 3/13/2023 2:30:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questions](
	[Id] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Study_set_id] [nvarchar](50) NOT NULL,
	[Image_url] [nvarchar](max) NULL,
 CONSTRAINT [PK_Questions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudySetClasses]    Script Date: 3/13/2023 2:30:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudySetClasses](
	[Study_set_id] [nvarchar](50) NOT NULL,
	[Class_id] [nvarchar](50) NOT NULL,
	[Create_date] [datetime] NOT NULL,
 CONSTRAINT [PK_StudySetClasses] PRIMARY KEY CLUSTERED 
(
	[Study_set_id] ASC,
	[Class_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudySetRatings]    Script Date: 3/13/2023 2:30:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudySetRatings](
	[Study_set_id] [nvarchar](50) NOT NULL,
	[User_id] [int] NOT NULL,
	[Rating] [float] NOT NULL,
 CONSTRAINT [PK_StudySetRatings] PRIMARY KEY CLUSTERED 
(
	[Study_set_id] ASC,
	[User_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudySets]    Script Date: 3/13/2023 2:30:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudySets](
	[Id] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[User_id] [int] NOT NULL,
	[Is_public] [bit] NOT NULL,
	[Create_at] [date] NOT NULL,
	[Update_at] [date] NOT NULL,
	[SubjectsOfGrade_id] [int] NOT NULL,
 CONSTRAINT [PK_Study_set] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subjects]    Script Date: 3/13/2023 2:30:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subjects](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Subjects] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubjectsOfGrade]    Script Date: 3/13/2023 2:30:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubjectsOfGrade](
	[Grade_id] [int] NOT NULL,
	[Subject_id] [int] NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_SubjectsOfGrade_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestResults]    Script Date: 3/13/2023 2:30:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestResults](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[User_id] [int] NOT NULL,
	[Study_set_id] [nvarchar](50) NOT NULL,
	[Mark] [float] NOT NULL,
	[Start_time] [date] NOT NULL,
	[End_time] [date] NOT NULL,
 CONSTRAINT [PK_TestResults] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 3/13/2023 2:30:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Phone_number] [nvarchar](50) NULL,
	[Password] [nvarchar](max) NULL,
	[Role] [nvarchar](50) NOT NULL,
	[Image_url] [nvarchar](max) NULL,
	[Grade_id] [int] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Answers] ON 

INSERT [dbo].[Answers] ([Id], [Name], [Is_correct_answer], [Question_id]) VALUES (226, N'see', 1, N'2')
INSERT [dbo].[Answers] ([Id], [Name], [Is_correct_answer], [Question_id]) VALUES (227, N'read', 0, N'2')
INSERT [dbo].[Answers] ([Id], [Name], [Is_correct_answer], [Question_id]) VALUES (228, N'listen', 0, N'2')
GO
INSERT [dbo].[Answers] ([Id], [Name], [Is_correct_answer], [Question_id]) VALUES (1932, N'
Drop Shadow', 1, N'b2ac48a1-02ba-4c95-8e93-6274411b322f')
GO
SET IDENTITY_INSERT [dbo].[Answers] OFF
GO
SET IDENTITY_INSERT [dbo].[Bills] ON 

INSERT [dbo].[Bills] ([Id], [Effective_date], [Expiration_date], [Status], [Payment_date], [User_id], [Subcription], [Pay_id]) VALUES (1, CAST(N'2023-02-23' AS Date), CAST(N'2024-02-23' AS Date), NULL, CAST(N'2023-02-23' AS Date), 4, 12, N'3UX955955L6662400')
INSERT [dbo].[Bills] ([Id], [Effective_date], [Expiration_date], [Status], [Payment_date], [User_id], [Subcription], [Pay_id]) VALUES (7, CAST(N'2023-03-08' AS Date), CAST(N'2023-04-08' AS Date), NULL, CAST(N'2023-03-08' AS Date), 9, 1, N'5BA20620NE373264C')
INSERT [dbo].[Bills] ([Id], [Effective_date], [Expiration_date], [Status], [Payment_date], [User_id], [Subcription], [Pay_id]) VALUES (8, CAST(N'2023-03-08' AS Date), CAST(N'2023-04-08' AS Date), NULL, CAST(N'2023-03-08' AS Date), 13, 1, N'5JK029884Y2526933')
SET IDENTITY_INSERT [dbo].[Bills] OFF
GO
INSERT [dbo].[Classes] ([Id], [Name], [User_id], [Create_at], [Update_at], [Description], [Join_code]) VALUES (N'267e256d-918f-4309-8ed1-2d1a116f33d4', N'Lớp ôn học kiến thức Cấp 3', 9, CAST(N'2023-03-09' AS Date), CAST(N'2023-03-09' AS Date), N'Tổng hợp các học phần hữu ích cho việc học tập, ôn bài kiến thức Cấp 3 và chia sẻ với bạn bè', N'AhQQhZ1U')
INSERT [dbo].[Classes] ([Id], [Name], [User_id], [Create_at], [Update_at], [Description], [Join_code]) VALUES (N'2f79d794-53ac-408f-a2a4-6b17a793eb5a', N'MLM111', 1, CAST(N'2023-03-08' AS Date), CAST(N'2023-03-08' AS Date), N'Ôn tập MLN111', N'KPbpM5S7')
INSERT [dbo].[Classes] ([Id], [Name], [User_id], [Create_at], [Update_at], [Description], [Join_code]) VALUES (N'3ce5c72f-c71a-4f89-922c-322caf8fb6c8', N'PRN231', 1, CAST(N'2023-03-07' AS Date), CAST(N'2023-03-07' AS Date), N'Ôn tập PRN231', N'8YVjbmVg')
GO
INSERT [dbo].[ClassMember] ([Class_id], [User_id], [Create_at], [Update_at]) VALUES (N'3ce5c72f-c71a-4f89-922c-322caf8fb6c8', 4, CAST(N'2023-03-07' AS Date), CAST(N'2023-03-07' AS Date))
INSERT [dbo].[ClassMember] ([Class_id], [User_id], [Create_at], [Update_at]) VALUES (N'3ce5c72f-c71a-4f89-922c-322caf8fb6c8', 5, CAST(N'2023-03-07' AS Date), CAST(N'2023-03-07' AS Date))
INSERT [dbo].[ClassMember] ([Class_id], [User_id], [Create_at], [Update_at]) VALUES (N'43e4c993-2e88-48ae-8de9-b20ba85df389', 5, CAST(N'2023-03-10' AS Date), CAST(N'2023-03-10' AS Date))
GO
INSERT [dbo].[Favorites] ([User_id], [Subjects_of_grade_id], [Create_at]) VALUES (4, 54, CAST(N'2017-06-15T09:34:21.000' AS DateTime))
INSERT [dbo].[Favorites] ([User_id], [Subjects_of_grade_id], [Create_at]) VALUES (4, 55, CAST(N'2017-06-15T09:34:21.000' AS DateTime))
INSERT [dbo].[Favorites] ([User_id], [Subjects_of_grade_id], [Create_at]) VALUES (4, 56, CAST(N'2017-06-15T09:34:21.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Grades] ON 

INSERT [dbo].[Grades] ([Id], [Name]) VALUES (1, N'6')
INSERT [dbo].[Grades] ([Id], [Name]) VALUES (2, N'7')
INSERT [dbo].[Grades] ([Id], [Name]) VALUES (3, N'8')
SET IDENTITY_INSERT [dbo].[Grades] OFF
GO
INSERT [dbo].[Histories] ([User_id], [Study_set_id], [Create_at]) VALUES (1, N'0d67420a-974e-4573-8029-6b9b49136876', CAST(N'2023-02-14T16:54:43.680' AS DateTime))
INSERT [dbo].[Histories] ([User_id], [Study_set_id], [Create_at]) VALUES (1, N'43651621-8461-4d1b-ac4c-34b2b3f6958e', CAST(N'2023-03-11T20:51:21.567' AS DateTime))
INSERT [dbo].[Histories] ([User_id], [Study_set_id], [Create_at]) VALUES (1, N'5', CAST(N'2023-02-14T11:27:45.903' AS DateTime))
GO
INSERT [dbo].[Questions] ([Id], [Name], [Study_set_id], [Image_url]) VALUES (N'01722a3e-38c9-45c1-917f-8d46a738fff2', N'Trong chỉ đạo thực tiễn cần căn cứ vào đâu để đề ra chủ trương, phương hướng hành động?', N'd5a6c265-fef4-4678-9e86-5c05edfcc6b9', NULL)
INSERT [dbo].[Questions] ([Id], [Name], [Study_set_id], [Image_url]) VALUES (N'01bef34c-4787-495b-a38a-7ad3a8b1dc4c', N'Bạn có thích Hackathon không?', N'a9ccbf1d-e528-479e-af6d-6bf068415a68', NULL)
INSERT [dbo].[Questions] ([Id], [Name], [Study_set_id], [Image_url]) VALUES (N'022873bb-ddda-4634-8a19-e330bb60e436', N'Một người có 4 cái quần, 6 cái áo, 3 chiếc cà vạt. Để chọn mỗi thứ một món thì có bao nhiều cách chọn bộ quần-áo-cà vạt khác nhau?', N'8e6bc7b2-4327-43fb-b287-ccd761668a76', NULL)
GO
INSERT [dbo].[StudySetClasses] ([Study_set_id], [Class_id], [Create_date]) VALUES (N'06e8a539-6d96-4e81-9b61-446354a2e327', N'267e256d-918f-4309-8ed1-2d1a116f33d4', CAST(N'2023-03-09T14:56:54.450' AS DateTime))
INSERT [dbo].[StudySetClasses] ([Study_set_id], [Class_id], [Create_date]) VALUES (N'0e104f46-f837-40eb-be5c-d1b238cc3d4c', N'3ce5c72f-c71a-4f89-922c-322caf8fb6c8', CAST(N'2023-03-07T08:33:19.547' AS DateTime))
INSERT [dbo].[StudySetClasses] ([Study_set_id], [Class_id], [Create_date]) VALUES (N'1961d445-fdfd-44f0-9c08-14b1ceb3dcfb', N'267e256d-918f-4309-8ed1-2d1a116f33d4', CAST(N'2023-03-09T14:55:42.057' AS DateTime))
GO
INSERT [dbo].[StudySetRatings] ([Study_set_id], [User_id], [Rating]) VALUES (N'22256fa8-d1a1-434c-8b7c-5506f4c063cd', 1, 5)
INSERT [dbo].[StudySetRatings] ([Study_set_id], [User_id], [Rating]) VALUES (N'22256fa8-d1a1-434c-8b7c-5506f4c063cd', 5, 1)
INSERT [dbo].[StudySetRatings] ([Study_set_id], [User_id], [Rating]) VALUES (N'43651621-8461-4d1b-ac4c-34b2b3f6958e', 1, 3)
GO
INSERT [dbo].[StudySets] ([Id], [Name], [User_id], [Is_public], [Create_at], [Update_at], [SubjectsOfGrade_id]) VALUES (N'06e8a539-6d96-4e81-9b61-446354a2e327', N'Ôn tập địa lý lớp 11 trường THPT Nguyễn Trãi', 5, 1, CAST(N'2023-02-16' AS Date), CAST(N'0001-01-01' AS Date), 42)
INSERT [dbo].[StudySets] ([Id], [Name], [User_id], [Is_public], [Create_at], [Update_at], [SubjectsOfGrade_id]) VALUES (N'0d67420a-974e-4573-8029-6b9b49136876', N'IGD101', 9, 1, CAST(N'2023-02-14' AS Date), CAST(N'0001-01-01' AS Date), 53)
INSERT [dbo].[StudySets] ([Id], [Name], [User_id], [Is_public], [Create_at], [Update_at], [SubjectsOfGrade_id]) VALUES (N'0e104f46-f837-40eb-be5c-d1b238cc3d4c', N'OSG202', 1, 1, CAST(N'2023-02-15' AS Date), CAST(N'0001-01-01' AS Date), 54)
GO
SET IDENTITY_INSERT [dbo].[Subjects] ON 

INSERT [dbo].[Subjects] ([Id], [Name]) VALUES (1, N'Toán')
INSERT [dbo].[Subjects] ([Id], [Name]) VALUES (2, N'Vật Lý')
INSERT [dbo].[Subjects] ([Id], [Name]) VALUES (3, N'Lịch Sử')
SET IDENTITY_INSERT [dbo].[Subjects] OFF
GO
SET IDENTITY_INSERT [dbo].[SubjectsOfGrade] ON 

INSERT [dbo].[SubjectsOfGrade] ([Grade_id], [Subject_id], [Id]) VALUES (1, 1, 1)
INSERT [dbo].[SubjectsOfGrade] ([Grade_id], [Subject_id], [Id]) VALUES (1, 2, 2)
INSERT [dbo].[SubjectsOfGrade] ([Grade_id], [Subject_id], [Id]) VALUES (1, 3, 3)
SET IDENTITY_INSERT [dbo].[SubjectsOfGrade] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Name], [Email], [Phone_number], [Password], [Role], [Image_url], [Grade_id]) VALUES (1, N'Duong Gia Phat', N'phatdgse140409@fpt.edu.vn', NULL, NULL, N'user', N'https://lh3.googleusercontent.com/a/AEdFTp75UHqVIB69EqIi5TSofWt2PPaJ93Hwzh4P83JB3A=s96-c', NULL)
INSERT [dbo].[Users] ([Id], [Name], [Email], [Phone_number], [Password], [Role], [Image_url], [Grade_id]) VALUES (4, N'Hiển Bùi', N'hienbui25g@gmail.com', NULL, NULL, N'user', N'https://lh3.googleusercontent.com/a/AEdFTp7ccNXbi81oQRJqKrNGmQkeLu6SkNLGgpcqIeZa=s96-c', 9)
INSERT [dbo].[Users] ([Id], [Name], [Email], [Phone_number], [Password], [Role], [Image_url], [Grade_id]) VALUES (5, N'Fan of Trực tiếp game', N'hienbui27g@gmail.com', NULL, NULL, N'user', N'https://lh3.googleusercontent.com/a/AEdFTp7KdaGYaQ0Dvyd8kLmWSu9a5Z1yy6ocvCa0YQpa=s96-c', NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Answers]  WITH CHECK ADD  CONSTRAINT [FK_Answers_Questions] FOREIGN KEY([Question_id])
REFERENCES [dbo].[Questions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Answers] CHECK CONSTRAINT [FK_Answers_Questions]
GO
ALTER TABLE [dbo].[Bills]  WITH CHECK ADD  CONSTRAINT [FK_Bills_Users] FOREIGN KEY([User_id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Bills] CHECK CONSTRAINT [FK_Bills_Users]
GO
ALTER TABLE [dbo].[Bookmarks]  WITH CHECK ADD  CONSTRAINT [FK_Bookmarks_StudySets] FOREIGN KEY([Study_set_id])
REFERENCES [dbo].[StudySets] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Bookmarks] CHECK CONSTRAINT [FK_Bookmarks_StudySets]
GO
ALTER TABLE [dbo].[Bookmarks]  WITH CHECK ADD  CONSTRAINT [FK_Bookmarks_Users] FOREIGN KEY([User_id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Bookmarks] CHECK CONSTRAINT [FK_Bookmarks_Users]
GO
ALTER TABLE [dbo].[Classes]  WITH CHECK ADD  CONSTRAINT [FK_Classes_Users] FOREIGN KEY([User_id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Classes] CHECK CONSTRAINT [FK_Classes_Users]
GO
ALTER TABLE [dbo].[ClassMember]  WITH CHECK ADD  CONSTRAINT [FK_ClassMember_Classes] FOREIGN KEY([Class_id])
REFERENCES [dbo].[Classes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ClassMember] CHECK CONSTRAINT [FK_ClassMember_Classes]
GO
ALTER TABLE [dbo].[ClassMember]  WITH CHECK ADD  CONSTRAINT [FK_ClassMember_Users] FOREIGN KEY([User_id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[ClassMember] CHECK CONSTRAINT [FK_ClassMember_Users]
GO
ALTER TABLE [dbo].[Favorites]  WITH CHECK ADD  CONSTRAINT [FK_Favorites_SubjectsOfGrade] FOREIGN KEY([Subjects_of_grade_id])
REFERENCES [dbo].[SubjectsOfGrade] ([Id])
GO
ALTER TABLE [dbo].[Favorites] CHECK CONSTRAINT [FK_Favorites_SubjectsOfGrade]
GO
ALTER TABLE [dbo].[Favorites]  WITH CHECK ADD  CONSTRAINT [FK_Favorites_Users] FOREIGN KEY([User_id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Favorites] CHECK CONSTRAINT [FK_Favorites_Users]
GO
ALTER TABLE [dbo].[Histories]  WITH CHECK ADD  CONSTRAINT [FK_Histories_StudySets] FOREIGN KEY([Study_set_id])
REFERENCES [dbo].[StudySets] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Histories] CHECK CONSTRAINT [FK_Histories_StudySets]
GO
ALTER TABLE [dbo].[Histories]  WITH CHECK ADD  CONSTRAINT [FK_Histories_Users] FOREIGN KEY([User_id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Histories] CHECK CONSTRAINT [FK_Histories_Users]
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD  CONSTRAINT [FK_Questions_StudySets] FOREIGN KEY([Study_set_id])
REFERENCES [dbo].[StudySets] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Questions] CHECK CONSTRAINT [FK_Questions_StudySets]
GO
ALTER TABLE [dbo].[StudySetClasses]  WITH CHECK ADD  CONSTRAINT [FK_StudySetClasses_Classes] FOREIGN KEY([Class_id])
REFERENCES [dbo].[Classes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StudySetClasses] CHECK CONSTRAINT [FK_StudySetClasses_Classes]
GO
ALTER TABLE [dbo].[StudySetClasses]  WITH CHECK ADD  CONSTRAINT [FK_StudySetClasses_StudySets] FOREIGN KEY([Study_set_id])
REFERENCES [dbo].[StudySets] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StudySetClasses] CHECK CONSTRAINT [FK_StudySetClasses_StudySets]
GO
ALTER TABLE [dbo].[StudySetRatings]  WITH CHECK ADD  CONSTRAINT [FK_StudySetRatings_StudySets] FOREIGN KEY([Study_set_id])
REFERENCES [dbo].[StudySets] ([Id])
GO
ALTER TABLE [dbo].[StudySetRatings] CHECK CONSTRAINT [FK_StudySetRatings_StudySets]
GO
ALTER TABLE [dbo].[StudySetRatings]  WITH CHECK ADD  CONSTRAINT [FK_StudySetRatings_Users] FOREIGN KEY([User_id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[StudySetRatings] CHECK CONSTRAINT [FK_StudySetRatings_Users]
GO
ALTER TABLE [dbo].[StudySets]  WITH CHECK ADD  CONSTRAINT [FK_StudySets_SubjectsOfGrade] FOREIGN KEY([SubjectsOfGrade_id])
REFERENCES [dbo].[SubjectsOfGrade] ([Id])
GO
ALTER TABLE [dbo].[StudySets] CHECK CONSTRAINT [FK_StudySets_SubjectsOfGrade]
GO
ALTER TABLE [dbo].[StudySets]  WITH CHECK ADD  CONSTRAINT [FK_StudySets_Users] FOREIGN KEY([User_id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[StudySets] CHECK CONSTRAINT [FK_StudySets_Users]
GO
ALTER TABLE [dbo].[SubjectsOfGrade]  WITH CHECK ADD  CONSTRAINT [FK_SubjectsOfGrade_Grades] FOREIGN KEY([Grade_id])
REFERENCES [dbo].[Grades] ([Id])
GO
ALTER TABLE [dbo].[SubjectsOfGrade] CHECK CONSTRAINT [FK_SubjectsOfGrade_Grades]
GO
ALTER TABLE [dbo].[SubjectsOfGrade]  WITH CHECK ADD  CONSTRAINT [FK_SubjectsOfGrade_Subjects] FOREIGN KEY([Subject_id])
REFERENCES [dbo].[Subjects] ([Id])
GO
ALTER TABLE [dbo].[SubjectsOfGrade] CHECK CONSTRAINT [FK_SubjectsOfGrade_Subjects]
GO
ALTER TABLE [dbo].[TestResults]  WITH CHECK ADD  CONSTRAINT [FK_TestResults_StudySets] FOREIGN KEY([Study_set_id])
REFERENCES [dbo].[StudySets] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TestResults] CHECK CONSTRAINT [FK_TestResults_StudySets]
GO
ALTER TABLE [dbo].[TestResults]  WITH CHECK ADD  CONSTRAINT [FK_TestResults_Users] FOREIGN KEY([User_id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[TestResults] CHECK CONSTRAINT [FK_TestResults_Users]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Grades] FOREIGN KEY([Grade_id])
REFERENCES [dbo].[Grades] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Grades]
GO
USE [master]
GO
